#Supabase Configuration
# Get these values from your Supabase project settings
VITE_SUPABASE_URL=http://..............................  #replace with your personal supabase url link
VITE_SUPABASE_ANON_KEY=e............................... # replace with you public anon key

# Admin Settings
VITE_ADMIN_EMAIL=admin@ijwiryacu.com
